@model SacramentPlanner.Models.MeetingTalkViewModel

@{
    ViewData["Title"] = "Details";
}


<div class="sacrament-container">
    <h5>Sacrament Meeting - @Html.DisplayFor(model => model.SacramentMeeting.MeetingDate)</h5>
    <hr />

    
    <div class="row">
        
        <div class="rows">
            <h5 class = "left">
                @Html.DisplayNameFor(model => model.SacramentMeeting.Presiding)
            </h5>
            <p class = "right">
                @Html.DisplayFor(model => model.SacramentMeeting.Presiding)
            </p>
        </div>
        <div class="rows">
            <h5 class = "left">
                @Html.DisplayNameFor(model => model.SacramentMeeting.Conducting)
            </h5>
            <p class = "right">
                @Html.DisplayFor(model => model.SacramentMeeting.Conducting)
            </p>
        </div>
        <div class="rows">
            <h5 class = "left">
                @Html.DisplayNameFor(model => model.SacramentMeeting.Pianist)
            </h5>
            <p class = "right">
                @Html.DisplayFor(model => model.SacramentMeeting.Pianist)
            </p>
        </div>
        <div class="rows">
            <h5 class = "left">
                @Html.DisplayNameFor(model => model.SacramentMeeting.Chorister)
            </h5>
            <p class = "right">
                @Html.DisplayFor(model => model.SacramentMeeting.Chorister)
            </p>
        </div>
        <div class="rows">
            <h5 class = "left">
                @Html.DisplayNameFor(model => model.SacramentMeeting.OpeningHymn)
            </h5>
            <p class = "right">
                @Html.DisplayFor(model => model.SacramentMeeting.OpeningHymn)
            </p>
        </div>
        <div class="rows">
            <h5 class = "left">
                @Html.DisplayNameFor(model => model.SacramentMeeting.Invocation)
            </h5>
            <p class = "right">
                @Html.DisplayFor(model => model.SacramentMeeting.Invocation)
            </p>
        </div>
        <div class="rows">
            <h5 class = "left">
                @Html.DisplayNameFor(model => model.SacramentMeeting.SacramentHymn)
            </h5>
            <p class = "right">
                @Html.DisplayFor(model => model.SacramentMeeting.SacramentHymn)
            </p>
        </div>
        <div class="rows">
            <h5 class = "left">
                @Html.DisplayNameFor(model => model.Talks)
            </h5>
            <p class = "right">
                @Html.Raw(Model.Talks.Replace("\n", "<br />"))
            </p>
        </div>
        <div class="rows">
            <h5 class = "left">
                @Html.DisplayNameFor(model => model.SacramentMeeting.IntermediateHymn)
            </h5>
            <p class = "right">
                @Html.DisplayFor(model => model.SacramentMeeting.IntermediateHymn)
            </p>
        </div>
        <div class="rows">
            <h5 class = "left">
                @Html.DisplayNameFor(model => model.SacramentMeeting.ClosingHymn)
            </h5>
            <p class = "right">
                @Html.DisplayFor(model => model.SacramentMeeting.ClosingHymn)
            </p>
        </div>
        <div class="rows">
            <h5 class = "left">
                @Html.DisplayNameFor(model => model.SacramentMeeting.Benediction)
            </h5>
            <p class = "right">
                @Html.DisplayFor(model => model.SacramentMeeting.Benediction)
            </p>
        </div>
        <div class="rows">
            <h5 class = "left">
                @Html.DisplayNameFor(model => model.SacramentMeeting.Announcements)
            </h5>
            <p class = "right">
                @Html.DisplayFor(model => model.SacramentMeeting.Announcements)
            </p>
           </div>
    </div>
</div>
<div>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a> |
    <a asp-action="Edit" asp-route-id="@Model.SacramentMeeting.Id" class="btn btn-primary">Edit</a>
</div>
