@model IEnumerable<SacramentPlanner.Models.SacramentMeeting>

@{
    ViewData["Title"] = "Meetings";
}

<h1>Sacrament Meetings</h1>

<div class="text-center">
    <p><i>Sacrament meetings are the most sacred meetings in the Church, allowing members to renew covenants made at baptism.</i></p>
</div>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th class="col-md-2">
                @Html.DisplayNameFor(model => model.MeetingDate)
            </th class="col-md-2">
            <th>
                @Html.DisplayNameFor(model => model.Presiding)
            </th>
            <th class="col-md-2">
                @Html.DisplayNameFor(model => model.Conducting)
            </th>
            <th class="col-md-5">
                @Html.DisplayNameFor(model => model.Talks)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.Chorister)
            </th>*@
            @*<th>
                @Html.DisplayNameFor(model => model.OpeningHymn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Invocation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SacramentHymn)
            </th>*@
            @*<th>
                @Html.DisplayNameFor(model => model.IntermediateHymnIndex)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IntermediateHymn)
            </th>*@
            @*<th>
                @Html.DisplayNameFor(model => model.ClosingHymn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Benediction)
            </th>*@
            @*<th>
                @Html.DisplayNameFor(model => model.Announcements)
            </th>*@
            <th class="col-md-1"></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MeetingDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Presiding)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Conducting)
            </td>
            <td>
                @Html.Raw(String.Join("<br />", item.Talks))
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.Chorister)
            </td>*@
            @*<td>
                @Html.DisplayFor(modelItem => item.OpeningHymn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Invocation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SacramentHymn)
            </td>*@
            @*<td>
                @Html.DisplayFor(modelItem => item.IntermediateHymnIndex)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IntermediateHymn)
            </td>*@
            @*<td>
                @Html.DisplayFor(modelItem => item.ClosingHymn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Benediction)
            </td>*@
            @*<td>
                @Html.DisplayFor(modelItem => item.Announcements)
            </td>*@
            <td>
                <a asp-action="Details" asp-route-id="@item.Id"><i class="bi bi-eye" data-toggle="tooltip" data-placement="top" title="Program View"></i></a>
                <a asp-action="Edit" asp-route-id="@item.Id"><i class="bi bi-pencil-square" data-toggle="tooltip" data-placement="top" title="Edit"></i></a>
                <a asp-action="Delete" asp-route-id="@item.Id"><i class="bi bi-trash3" data-toggle="tooltip" data-placement="top" title="Delete"></i></a>
            </td>

        </tr>
}
    </tbody>
</table>
